h1 {
  text-align: center;
}
.inicio {
  text-align: center;
  font-family: $font-family_2;
  font-size: 30px;
}
.contenedor__h1 {
  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  overflow: hidden;
}
.img_cartel {
  padding: 4%;
  width: 45rem;
  display: flex;
  align-items: center;
  justify-items: center;
  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
.img_estacion {
  margin-left: 5rem;
  padding: 4%;
  width: 35rem;
  height: 35rem;
  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
.text {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 1rem;
}
.galpon_li {
  text-align: left;
}
